POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_ADMIN_USER=postgres
POSTGRES_ADMIN_PASSWORD=change_me
POSTGRES_ADMIN_DB=postgres

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=change_me

RABBITMQ_HOST=127.0.0.1
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_ADMIN_USER=admin
RABBITMQ_ADMIN_PASSWORD=change_me

VAULT_ADDR=http://127.0.0.1:8200
VAULT_PORT=8200
VAULT_DEV_ROOT_TOKEN=change_me

JWT_SECRET=change_me
JWT_REFRESH_SECRET=change_me
